*
!.gitignore
!/rtl/
!/rtl/*
!/rtl/constrs_1/**
!/rtl/sim_1/**
!/rtl/sources_1/
!/rtl/sources_1/*
!/rtl/sources_1/new/*
!/rtl/sources_1/new/**
!/rtl/sources_1/ip/*
!/rtl/sources_1/ip/**/*.xci

!README.md
!LICENSE
!/*.ps1
!/*.tcl
